<!DOCTYPE html>
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umbrella</title>
    <link rel="stylesheet" href="static/styles/homeStyle.css">
    <link rel="shortcut icon" href="/static/favIcon.ico">
</head>
<body>
<header>
    <a href="/"><img src="/static/images/Logo_01.png"></a>

    <nav class="navbar">
        <a href="/login">Login</a>
    </nav>
</header>

<section class="home" id="home">
    <div class="landingPage">
        <div class="titleText">
            Hello and Welcom to Umbrella Market
        </div>
        <div class="contentText">
            Hello and welcome to Umbrella Market. The place where you find whatever you search. But be aware.
            Even if we try our best to remove scammer from our site there is still a small change you get unlucky.
            Check the seller and item rating and read the comments related to the item before purchasing. You can also contact
            the seller before you buy something. Also feel free to comment and rate seller and items for others help.
            <br><br>
            To access Umbrella Market you need to create a FREE account
            <br><br>
            For those of you who want to sell stuff at Umbrella Marekt: Make sure to setup your wallet in your profile.
            All prices are in USD and you have to pay in bitcoin.
        </div>
        <div class="registerButtonContainer">
            <a href="/register"><div class="registerButton">Register</div></a>
        </div>
    </div>
</section>

<div class="footer">
    <div class="box-container">
        <div class="box">
            <h3>quick links</h3>
            <table class="footerContent">
                <tr>
                    <td class="quickLink">
                        <a href="#home">Home</a>
                    </td>
                    <td class="quickLink">
                        <a href="/login">Login</a>
                    </td>
                    <td class="quickLink">
                        <a href="/impressum">Impressum</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="devNote">
    This site is for demonstration purpose only - I offer custom webservices including frontend, backend, databases, storage, hosting, cryptopayment and more. 
</div>
<div class="bg"></div>
<div class="star-field">
<div class="layer"><h1></div>
<div class="layer"></div>
<div class="layer"></div>
</body>
{%endblock%}
</html>
